.venv
.DS_Store
input/precincts/*
!input/precincts/.keep
data/precincts/*
!data/precincts/.keep
output/*
!output/.keep
input/foia/*
!input/foia/.keep
input/results-unofficial/*
!input/results-unofficial/.keep
